{
  "env": {
    "browser": true,
    "es2021": true
  },

  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["tsconfig.json", "tsconfig.node.json", "vite.config.ts"]
  },

  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks",
    "import",
    "jsx-a11y"
  ],

  "overrides": [
    {
      "files": ["**/*.test.ts", "**/*.test.tsx"],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],

  "globals": {
    "JSX": "readonly"
  },
  "rules": {
    // enable tsx extensions
    "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],

    // disable import resolving to sync with ts
    "import/extensions": "off",
    "import/no-unresolved": "off",

    // additional ts settings for strictness
    "@typescript-eslint/consistent-type-exports": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/no-require-imports": "error",
    "@typescript-eslint/promise-function-async": "error",
    "default-param-last": "off",
    "@typescript-eslint/default-param-last": "error",
    "no-magic-numbers": "off",
    "@typescript-eslint/no-magic-numbers": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.test.ts", "**/*.test.tsx"]
      }
    ]
  }
}
