name: frontend_lint

on: [ push, workflow_call ]

defaults:
  run:
    working-directory: frontend

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: ">=18.0.0"
      - run: npm ci
      - run: npm run lint:ci