name: frontend_format

on: [ push ]

defaults:
  run:
    working-directory: frontend

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: ">=18.0.0"
      - run: npm ci
      - run: npm run format
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "ci: format code"
          branch: ${{ github.head_ref }}
          commit_user_name: sir-linter-3000